@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#logo {
	margin-left: 80px;
}

#page_title {
	font-family: 'Press Start 2P', cursive;
	width: 100vw;
	height: 130px;
	color: white;
	font-weight: 700;
	margin: 0px auto;
	display: flex;
	font-size: 5rem;
	align-items: center;
	justify-content: center;
	max-width: 80vw;
	text-align: center;
}

#about_us_slider {
	width: 350px !important;
	float: left;
	margin-right: 20px;
	margin-left: 18px;
	margin-top: 5px;
	border:outset 10px purple;
}

article {
	display: flex;
	padding: 10px;
}

.link {
	font-size: 1.5rem;
}

.link:hover {
	color: blue;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

article > h4 {
	color: white;
	font-weight: 400;
	margin-left: 14px;
}

article > section > h4 {
	overflow-y: hidden;
	padding-bottom: 5px;
	color: white;
	margin-top: -2px;
	font-weight: 100;
	text-align: justify;
}

#core_team {
	font-size: 5em;
	font-weight: 700;
	margin-top: 70px;
	text-align: center !important;
	color: white;
}

#core_caption {
	text-align: center;
	font-weight: 200;
	font-size: 1em;
	color: white;
}

#copyright {
	margin-top: 50px;
	text-align: center;
	color: white;
	margin-bottom: 20px;
}