/* =============troubleshoot css=================
   *{ background: transparent !important;
    color: red !important;
    outline: solid #f00 1px !important;
  }
 
 */
/*=========================
        Grid layout wireframe
        =====================*/

        .item1 { grid-area: header; background: transparent !important; color: black; }
        .item2 { grid-area: left-; color: black;}
        .item3 { grid-area: right-; color: black;}
        .item4 { grid-area: main; background: transparent !important; }
        .item5 { grid-area: sponsor1; background: black !important; color: blanchedalmond;}
        .item6 { grid-area:sponsor2;background: black !important; color: blanchedalmond;}
        .item7 { grid-area:event1;background: black !important; color: blanchedalmond;}
        .item8 { grid-area:event2;background: black !important; color: blanchedalmond;}
        .item9 { grid-area:footer;background: black !important; color: blanchedalmond;}
        
        
        .grid-container {
          display: grid;
          
          grid-template-areas:
            'header header header header header header'
            'main main main main main main'
            'main main main main main main'
            'main main main main main main'
            'main main main main main main'        
            'left- sponsor1 sponsor1 sponsor2 sponsor2 right-'
            'left- event1 event1 event2 event2 right-'
            'footer footer footer footer footer footer';
          grid-gap: 10px black; 
          margin-top: 10%;
                 
         }

         
        
        
        .grid-container > div {
          
        width: 100%;
          text-align: left;
          background: black; 
          
          font-size: 24px;
         
         
          
        }
              
        
        /*====================================================
                                HOME  |               
                                h3->b-color:-#41464b
        ======================================================*/
   
        #home{
            width: 100%;
            height: 100%;
         
          
        }
        
        #home-content-box-inner {
            display: contents;
            vertical-align: middle;
            color: white;
            font-size: 14px;
            text-align: center; 
            
        }

      
        
        #home-heading h3 {
            color: #a9b7c5;
            font-size: 110px;
            font-weight: 600;
            margin: 10px 0 10px 0;
            line-height: 4.6rem;
            font-style: italic;
            font-family: 'Courier New', Courier, monospace;
        }
        
        #home-heading h3 b {
            color: #41464b;
            font-family: 'Times New Roman', Times, serif;
            font-style: normal;
            line-height: 3.0rem
            
        }
       
        
        /*=====================================================
                            Button
        ======================================================*/
        
        .btn-white,
        .btn-white,
        a[title="View Our Work"] {
            background-color: transparent;
            border-color: blueviolet;
            font-size: 20px;
        
        }
        
        .btn-white:hover,
        .btn-white:focus {
            background-color: green;
            color: black;
            border-color: red;
        
        }
        
        
        
        
        /*====================================================
                               ANIMATE
        ======================================================*/
        
        #home-cover,
        #home-heading,
        #home-btn {
            -webkit-animation-duration: .5s;
            animation-duration: .5s;
        }
        
        #home-cover {
            -webkit-animation-delay: .1s;
            animation-delay: .1s;
        }
        
        #home-heading {
            -webkit-animation-delay: .5s;
            animation-delay: .5s;
        }
        
        #home-btn {
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
        }


        /*=============Regular Expressions===========*/

      
        
           